<ion-view>
  <ion-content class="display-quiz">

    <div ng-show="quizInfo" class="ng-view" autoscroll="true">
      <div class="quiz-title">
        <h1>{{quiz.title}}   <i class="icon ion-lock-combination"></i></h1>
      </div>
      <div class="quiz-photo">
        <img ng-src="{{quiz.picture.public_id | formatImg:250:200}}" alt="Quiz Photo" />
      </div>
      <div class="quiz-info-creation">
        Created on {{quiz.createdOn | date}}, by
        <a class="author" href ui-sref="profile({username: quiz.author.username})">{{quiz.author.username}}</a>
      </div>
      <button ng-click="nextQuestion()" class="button button-block button-assertive start">Start Quiz</button>
    </div>

    <div ng-show="displayQuestion" class="ng-view" autoscroll="true">
      <div class="quiz-title">
        <h1>{{quiz.title}}   <i class="icon ion-lock-combination"></i></h1>
      </div>
      <!-- Info -->
      <div class="info">
        Author: {{quiz.author.username}} - Your score: <i class="icon ion-star"></i> {{score}}
      </div>
      <!-- Title -->
      <div class="header-question">
          <h1>Question {{questNb}}</h1>
      </div>
      <div class="card description-question">
        <!-- type TEXT or IMAGE -->
        <div ng-show="typeChecked('text') || typeChecked('images')">
          <div class="item item-text-wrap">
            {{currentQuestion.title}}
          </div>
        </div>
      </div>
      <!-- List answers -->
      <div class="card description-answers">
        <!-- type TEXT -->
        <div ng-show="typeChecked('text')">
          <div ng-if="!isMulti()" class="list">
            <label ng-click="validateAnswer()" class="item item-radio" ng-repeat="currentAnswer in currentQuestion.answers">
              <input ng-value="currentAnswer.text" type="radio" ng-model="currentQuestion.answer">
              <div class="item-content">{{currentAnswer.text}}</div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </div>
          <div ng-if="isMulti()" class="list">
            <ul class="list">
              <li class="item item-checkbox" ng-click="validateAnswer()" ng-repeat="currentAnswer in currentQuestion.answers">
                 <label class="checkbox">
                   <input ng-value="currentAnswer.text" type="checkbox" ng-model="answer.checked">
                 </label>
                 <div class="item-content">{{currentAnswer.text}}</div>
              </li>
            </ul>
          </div>
        </div>
        <!-- type IMAGE -->
        <div ng-show="typeChecked('images')">
          <div class="display-answers-list" ng-repeat="currentAnswer in currentQuestion.answers track by $index" ng-if="$index%2 === 0">
              <div class="row" ng-if="$index < currentQuestion.answers.length">
                <div class="col col-50">
                  <div class="answer-card" ng-click="onClickAnswer(currentQuestion.answers[$index])">
                    <div class="answer-picture">
                      <img ng-src="{{currentQuestion.answers[$index].picture.public_id | formatImg:200:150}}" alt="Answer Photo" />
                    </div>
                    <div class="answer-name">{{currentQuestion.answers[$index].text}}</div>
                  </div>
                </div>
                <div class="col col-50" ng-if="$index+1 < currentQuestion.answers.length">
                  <div class="answer-card" ng-click="onClickAnswer(currentQuestion.answers[$index+1])">
                    <div class="answer-picture">
                      <img ng-src="{{currentQuestion.answers[$index+1].picture.public_id | formatImg:200:150}}" alt="Answer Photo" />
                    </div>
                    <div class="answer-name">{{currentQuestion.answers[$index+1].text}}</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- Submit button -->
      <div class="button-next">
        <button ng-click="nextQuestion()" class="button button-block button-assertive start">Submit</button>
      </div>
    </div>

    <div ng-show="endQuizButton" class="ng-view" autoscroll="true">
      <div class="end-title">
        <i class="icon ion-star"></i> Quiz finished
        <i class="icon ion-star"></i>
      </div>
      <div class="stats">
        <div class="list-title">Stats</div>
        <div class="score">Final score: {{score}}</div>
        <div class="score">Questions answered: {{quiz.questions.length}}</div>
        <div class="score">Mistakes: {{nbMistake}}</div>
      </div>
      <div class="new-score">Your new score is now: {{score}}</div>
      <div class="icon-combination"><i class="icon ion-lock-combination"></i></div>
      <div class="like">Do you like it ?
        <i ng-show="!gameLiked" class="icon ion-thumbsup" ng-click="like()"></i>
        <div ng-show="gameLiked">Thank's !</div>
      </div>
      <!-- Retry button -->
      <div class="button-next">
        <button ng-click="retry()" class="button button-block button-assertive start">Retry</button>
      </div>
      <!-- Search another quiz -->
      <div class="button-next">
        <button ng-click="goToSearch()" class="button button-block button-assertive start">Search quiz</button>
      </div>
    </div>


  </ion-content>
</ion-view>
