<ion-view>
  <ion-content class="display-recipe">

  <div ng-show="displayInfo" class="ng-view" autoscroll="true">
    <div class="recipe-name">
      <h1>{{recipe.name}}</h1>
    </div>
    <br/>
    <div class="recipe-info">
      Difficulty:
      <i class="icon ion-android-star" ng-repeat="t in [] | range: recipe.difficulty">
      </i><i class="icon ion-android-star-outline" ng-repeat="t in [] | range: (5-recipe.difficulty)"></i>

      <i class="icon ion-clock time"></i>: {{recipe.time}} mins
      <i class="icon ion-android-restaurant nbperson"></i>: {{recipe.nbPerson}} pers
    </div>
    <br/>
    <div class="recipe-photo">
      <img ng-src="{{recipe.picture.thumbUrlLarge}}" alt="Recipe Photo" />
    </div>
    <div class="recipe-info-creation">
      Created on {{recipe.createdOn | date}}, by {{recipe.author}}
    </div>
    <br/>

    <div class="utensils-beaker">
      <button ng-click="setUtensils()" ng-if="utensil" class="button button-block icon-center ion-beaker">  Utensils
        <div class="icon" ng-class="{'ion-arrow-down-b': !showUtensil, 'ion-arrow-up-b': showUtensil}"></div>
      </button>
      <div ng-show="showUtensil" class="item" ng-repeat="utensil in recipe.utensils">
        {{utensil}}
      </div>
    </div>
    <br/>

      <p class="ingredients-title">Ingredients:</p>
      <div class="list list-inset">
        <div class="item" ng-repeat="ingredient in recipe.ingredients">
          {{ingredient.qte}} {{ingredient.unit}} of {{ingredient.name}}</div>
      </div>

      <div class="steps-load">
        <button ng-click="setSteps()" class="button button-block icon-center ion-load-a">  Steps
          <div class="icon" ng-class="{'ion-arrow-down-b': !showStep, 'ion-arrow-up-b': showStep}"></div>
        </button>
        <div ng-show="showStep" class="item" ng-repeat="step in recipe.steps">
          {{step.number}} | {{step.action}}
        </div>
      </div>

      <br/>
      <button ng-click="stepForward()" class="button button-block button-assertive start">Start Recipe</button>
      <br/>

      <div class="previous-recipe-pictures" ng-if="recipe.pictures">
        <p>Pictures of this recipe by other users:</p>
        <img class="all-pictures" ng-click="goToSlide($index)" ng-repeat="picture in recipe.pictures | orderObjectBy:'createdOn':-1 track by $index" ng-src="{{picture.miniThumbUrlSquare}}"/>
      </div>
      <br/>
      <script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent" ng-click="closeModal()">
          <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
            <ion-slide ng-repeat="image in recipe.pictures">
              <img ng-src="{{image.url}}" class="fullscreen-image" />
            </ion-slide>
          </ion-slide-box>
        </div>
      </script>

      <div class="comments">
<!-- same as in the end, for the final comment after the start display recipe -->
        <div class="comment-final">
          <div class="add-mark">
            Give a mark: <i ng-repeat="t in [] | range: mark" class="icon ion-android-star" on-tap="tapMark(false,$index)"/>
          </i><i ng-repeat="t in [] | range: (5-mark)" class="icon ion-android-star-outline" on-tap="tapMark(true,$index)"></i>
          </div>
          <br/>
          <label class="item item-input textarea-comment" ng-class="{'input-error': errors.comment}">
            <textarea ng-model="$parent.mycomment" placeholder="Type your comment here..."></textarea>
          </label>
          <div class="error-message">{{errors.comment}}</div>
          <button ng-click="addMyComment()" ng-disabled="dataLoading" class="button button-block button-assertive add-comment">Add comment</button>
          <i ng-show="dataLoading" class="icon ion-load-a spin"></i>
        </div>

        <div class="list card all-comments" ng-repeat="comment in recipe.comments">
          <div class="item item-avatar">
            <img src="/img/Avatar/AvatarTest.png">
            <h2><span class="comment-author">{{comment.author}}</span>
              <span ng-if="comment.mark" class="comment-mark">
                <i ng-repeat="t in [] | range: comment.mark" class="icon ion-android-star">
                </i><i ng-repeat="t in [] | range: (5-comment.mark)" class="icon ion-android-star-outline"></i>
              </span>
              <br/>
              <span class="comment-date">{{comment.date | date}}</span>
            </h2>
          </div>
          <div class="item item-body comment-message">
            {{comment.message}}
          </div>
        </div>
<!-- till here -->
      </div>
  </div>

  <div ng-show="displayStep" class="ng-view" autoscroll="true">

    <div class="header-step">
        <h1>Step {{currentStep.number}}</h1>
    </div>
    <div class="card description-step">
      <div class="item item-text-wrap">
        {{currentStep.action}}
      </div>
    </div>
    <br/>

    <div class="button-picture-button">
      <div class="button-back">
        <button ng-click="stepBack()" class="button ion-reply button-assertive"></button>
      </div>
      <div class="picture-step">
        <img class="recipe-step-picture" ng-repeat="step in recipe.steps" ng-show="step.number == currentStep.number" ng-src="{{step.picture.thumbUrlLarge}}" alt="Recipe Step Photo" />
      </div>
      <div class="button-next">
        <button ng-click="stepForward()" class="button ion-forward button-assertive"></button>
      </div>
    </div>

    <div class="step-timer" ng-if="currentStep.time">
      Time : {{currentStep.time}} mins
    </div>
    <br/><br/>

    <!-- <div class="timer"> -->
      <div class="timer" ng-show="currentStep.time">
            <div class="play-button">
            <button class="play" ng-hide="timerRunning" ng-click="timerStart()"><i class="icon ion-play"></i></button>
            </div>
            <div class="counter">
            {{((currentStep.time*60)-timerSecondsPassed) | secondsToDateTime | date:'HH:mm:ss' }}
            </div>
            <div class="pause-stop-buttons">
            <button class="pause" ng-show="timerRunning" ng-click="timerPause()"><i class="icon ion-pause"></i></button>
            <button class="stop" ng-show="timerRunning" ng-click="timerStop()"><i class="icon ion-stop"></i></button>
            </div>
      </div>
    <!-- </div> -->

    <br/><br/>
    <button ng-show="endRecipeButton" ng-click="endRecipe()" class="button button-block button-assertive end">End</button>

  </div>

  <div ng-show="final" class="final-page">

    <div class="backOrNew">
      <button ng-click="back()" class="button icon-left ion-reply button-assertive button-clear button-back">{{recipe.name}}</button>
      <button ng-click="new()" class="button icon-right ion-forward button-assertive button-clear button-new">Search</button>
    </div>

    <div ng-if="!uploadedPicture" class="header-final">
      <h1>Congratulations !</h1>
      <i class="icon ion-camera camera-final"></i>
      <p>Share a picture of your result with the community ;)</p>
    </div>
    <div ng-if="uploadedPicture" class="header-final">
      <h1>Thank you a lot for sharing !</h1>
      <i class="icon ion-camera camera-final"></i>
      <p></p>
    </div>
    <br/>

    <div class="picture-final">
      <picture-upload uploaded-picture="uploadedPicture" callback="setPicture" target-url="uploadPictureUrl"></picture-upload>
    </div>
    <br/>

    <div class="previous-recipe-pictures" ng-if="recipe.pictures">
      <p>Pictures of this recipe by users:</p>
      <img class="all-pictures" ng-click="goToSlide($index)" ng-repeat="picture in recipe.pictures | orderObjectBy:'createdOn':-1 track by $index" ng-src="{{picture.miniThumbUrlSquare}}"/>
    </div>
    <br/>
     <script id="image-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
          <ion-slide ng-repeat="image in recipe.pictures">
            <img ng-src="{{image.url}}" class="fullscreen-image" />
          </ion-slide>
        </ion-slide-box>
      </div>
    </script>
    <br/>

    <div class="comment-final">
      <div class="add-mark">
        Give a mark: <i ng-repeat="t in [] | range: mark" class="icon ion-android-star" on-tap="tapMark(false,$index)"/>
      </i><i ng-repeat="t in [] | range: (5-mark)" class="icon ion-android-star-outline" on-tap="tapMark(true,$index)"></i>
      </div>
      <br/>
      <label class="item item-input textarea-comment" ng-class="{'input-error': errors.comment}">
        <textarea ng-model="$parent.mycomment" placeholder="Type your comment here..."></textarea>
      </label>
      <div class="error-message">{{errors.comment}}</div>
      <button ng-click="addMyComment()" ng-disabled="dataLoading" class="button button-block button-assertive add-comment">Add comment</button>
      <i ng-show="dataLoading" class="icon ion-load-a spin"></i>
    </div>

    <div class="list card all-comments" ng-repeat="comment in recipe.comments">
      <div class="item item-avatar">
        <img src="/img/Avatar/AvatarTest.png">
        <h2><span class="comment-author">{{comment.author}}</span>
          <span ng-if="comment.mark" class="comment-mark">
            <i ng-repeat="t in [] | range: comment.mark" class="icon ion-android-star">
            </i><i ng-repeat="t in [] | range: (5-comment.mark)" class="icon ion-android-star-outline"></i>
          </span>
          <br/>
          <span class="comment-date">{{comment.date | date}}</span>
        </h2>
      </div>
      <div class="item item-body comment-message">
        {{comment.message}}
      </div>
    </div>
    <br/>

  </div>

  </ion-content>
</ion-view>
