<ion-view>
  <ion-content class="games">

    <div class="title">
      Games
    </div>
<br/>
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-lock-combination"></i>
        Create your quizz
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-wineglass"></i>
        Quizz on the world
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-pizza"></i>
        Quizz
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-cash"></i>
        Quizz
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-thermometer"></i>
        Quizz
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ribbon-b"></i>
        Results
      </a>
  </div>


  </ion-content>
</ion-view>
