<ion-view>
  <ion-content class="games">

    <div class="title">
      Games
    </div>
<br/>
    <div class="list card">
      <a ui-sref="createQuiz" class="item item-icon-left">
        <i class="icon ion-lock-combination"></i>
        Create your quiz
      </a>
      <a ui-sref="searchQuiz" class="item item-icon-left">
        <i class="icon ion-help-circled"></i>
        Search a quiz
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-pizza"></i>
        Quiz (not implemented yet)
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-cash"></i>
        Quiz (not implemented yet)
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-thermometer"></i>
        Quiz (not implemented yet)
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ribbon-b"></i>
        Results (not implemented yet)
      </a>
  </div>


  </ion-content>
</ion-view>
