<ion-view>
  <ion-content class="menu">

    <div class="title">
      What can I do ??
    </div>
<br/>
    <div class="list card">

      <a ui-sref="profile({username: userLogged.username})" class="item item-icon-left">
        <i class="icon ion-person"></i>
        Go to your profile
      </a>
      <a ui-sref="searchRecipe" class="item item-icon-left">
        <i class="icon ion-search"></i>
        Find a special recipe
      </a>
      <a ui-sref="createQuiz" class="item item-icon-left">
        <i class="icon ion-university"></i>
        Create your personal quiz !
      </a>
      <a ui-sref="createRecipe" class="item item-icon-left">
        <i class="icon ion-pizza"></i>
        Create your own recipe
      </a>
      <a ui-sref="login" class="item item-icon-left">
        <i class="icon ion-power"></i>
        Log out
      </a>

    </div>

  </ion-content>
</ion-view>
