<ion-view>
    <ion-content class="my-profile">

    <div class="profile-photo">
        <img src="img/Avatar/AvatarTest.png"/>
    </div>

    <div class="username-modif">
    <div class="username">PilouMelissaCat24</div>
    <button class="icon ion-edit button-clear modif-username"></button>
    </div>

    <div class="where-modif">
    <div class="where">Paris, France</div>
    <button class="icon ion-edit button-clear modif-where"></button>
    </div>

    <div class="row">
      <div class="col col-33 followers">
        <div class="followers-nb">382</div>
        <div class="followers-name">Followers</div>
      </div>
      <div class="col col-33 grades">
        <div class="grades-nb">9350</div>
        <div class="grades-logo"><i class="icon ion-ribbon-b"></i></div>
      </div>
      <div class="col col-33 following">
        <div class="following-nb">143</div>
        <div class="following-name">Following</div>
      </div>
    </div>

    <div class="list info-perso">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        <div class="name">Melissa Smith</div>
        <button class="button button-clear button-positive">Edit</button>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-key"></i>
        <div class="password">plop</div>
        <button class="button button-clear button-positive">Edit</button>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-star"></i>
        <div class="date-of-birth">25 May 2000</div>
        <button class="button button-clear button-positive">Edit</button>
      </div>
    </div>

    <div class="description-area">
      <p class="description">I like so much cooking for all my family, my friends and even my dogs :p
        haha ndsvndqb fZBFE V Jn ef"ul8899HGBF  "AQERBNJDS V,VJFERUBT GV UIZB s<
        juzebfj tgreqvfdiohvn d ihohrnektkeghrnv io"</p>
      <button class="button button-clear button-positive edit-description">Edit</button>
    </div>

    </ion-content>
</ion-view>
