<ion-popover-view>
    <ion-content>

      <div class="list">
        <a class="item" ui-sref="profile">
          My profile
        </a>
        <a class="item" ui-sref="games">
          Games
        </a>
        <a class="item" ui-sref="searchRecipe">
          Search recipe
        </a>
        <a class="item" ui-sref="displayRecipe">
          Display recipe
        </a>
        <a class="item" ui-sref="login">
          Log out
        </a>
      </div>

    </ion-content>
</ion-popover-view>
