<ion-view>
    <ion-content class="profile-edit">

    <div class="save-profile">
      <button class="button button-clear button-positive" ng-click="saveAll()">Save</button>
    </div>

    <div class="profile-photo">
      <img ng-src="{{user.picture.public_id | formatImg:250:200}}" alt="Profile Photo" />
      <!-- <picture-upload uploaded-picture="user.picture" callback="setPicture" target-url="uploadPictureUrl"></picture-upload> -->
    </div>

    <div class="username">{{user.username}}</div>

    <div class="list info-perso-modif">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        <div class="name-modif">
          <input ng-model="user.name" type="text" placeholder="Name" />
        </div>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-wand"></i>
        <div class="date-of-birth-modif">
          <input ng-model="dobFormatted" type="date" placeholder="Date of birth" />
        </div>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-location"></i>
        <div class="location-modif">
          <input ng-model="user.location" type="text" placeholder="Location" />
        </div>
      </div>
    </div>

    <div class="description-area-modif">
      <textarea ng-model="user.description" type="text" placeholder="Description"></textarea>
    </div>

    </ion-content>
</ion-view>
