<ion-view>
    <ion-content class="profile-edit">

    <div class="save-profile">
      <button class="button button-clear button-positive" ng-click="saveAll()">Save</button>
    </div>

    <div class="profile-photo" ng-click="editProfilePic()">
      <img ng-show="!editPic" ng-src="{{user.picture.public_id | formatImg:250:200}}" alt="Profile Photo" />
      <picture-upload ng-show="editPic" uploaded-picture="profilPic" callback="setPicture" target-url="uploadPictureUrl"></picture-upload>
    </div>

    <div class="username">{{user.username}}</div>

    <div class="list info-perso-modif">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        <div class="name-modif">
          <input ng-model="$parent.user.name" type="text" placeholder="Name" />
        </div>
      </div>
      <div class="item item-icon-left" ng-class="{'input-error': errors.user.dob}">
        <i class="icon ion-wand"></i>
        <div class="date-of-birth-modif">
          <input ng-model="$parent.dobFormatted" type="date" placeholder="Date of birth" />
        </div>
      </div>
      <div class="error-message">{{errors.user.dob}}</div>
      <div class="item item-icon-left">
        <i class="icon ion-location"></i>
        <div class="location-modif">
          <input ng-model="$parent.user.location" type="text" placeholder="Location" />
        </div>
      </div>
    </div>

    <div class="description-area-modif">
      <textarea ng-model="$parent.user.description" type="text" placeholder="Description"></textarea>
    </div>

    <div class="list pw-modif">
      <div class="item item-icon-left">
        <i class="icon ion-locked"></i>
        <div class="password-now">
          <input ng-model="$parent.user.passwordNow" type="text" placeholder="Password now" />
        </div>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-unlocked"></i>
        <div class="password-modif">
          <input ng-model="$parent.user.passwordNew" type="text" placeholder="Password new" />
        </div>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-locked"></i>
        <div class="password-again">
          <input ng-model="$parent.user.passwordAgain" type="text" placeholder="Password new again" />
        </div>
      </div>
    </div>

    </ion-content>
</ion-view>
