<ion-view>
    <ion-content class="profile">

    <div class="modif-profile">
      <a class="edit-button" ng-if="isUser" href ui-sref="profileEdit({username: user.username})">Edit</a>
    </div>

    <div class="profile-photo">
        <img ng-src="{{user.picture.public_id | formatImg:250:200}}" alt="Profile Photo" />
    </div>

    <div class="username">{{user.username}}</div>
    <div class="where" ng-if="user.location">{{user.location}}</div>
    <div class="where" ng-if="!user.location" style="font-size: 12px; font-style: italic; color: grey;">Location not defined</div>

<!-- not now
    <div class="row">
      <div class="col col-33 followers">
        <div class="followers-nb">382</div>
        <div class="followers-name">Followers</div>
      </div>
      <div class="col col-33 grades">
        <div class="grades-nb">9350</div>
        <div class="grades-logo"><i class="icon ion-ribbon-b"></i></div>
      </div>
      <div class="col col-33 following">
        <div class="following-nb">143</div>
        <div class="following-name">Following</div>
      </div>
    </div>
-->
    <div class="list info-perso">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        <div class="name" ng-if="user.name">{{user.name}}</div>
        <div class="name" ng-if="!user.name" style="font-size: 12px; font-style: italic; color: grey;">Name not defined</div>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-wand"></i>
        <div class="date-of-birth" ng-if="user.dob">{{user.dob | ageFromDob}} Years old</div>
        <div class="date-of-birth" ng-if=!user.dob style="font-size: 12px; font-style: italic; color: grey;">Date of birth not defined</div>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ribbon-b"></i>
        <div class="level" ng-if="user.level.toString()">Level {{user.level}}</div>
        <div class="level" ng-if="!user.level.toString()" style="font-size: 12px; font-style: italic; color: grey;">Level not defined</div>
      </div>
    </div>

    <textarea class="description-area" ng-if="user.description" ng-model="user.description" readonly="true"></textarea>
    <textarea class="description-area" ng-if="!user.description" readonly="true" style="font-size: 12px; font-style: italic; color: grey;">Description not defined</textarea>

<hr ng-if="user.activities.length != 0"/>

    <div class="activities" ng-if="user.activities.length != 0">
      <p> Recent activity </p>
      <div class="list card all-activity" ng-repeat="activity in user.activities">
        <div class="item item-info">
          <div class="activity-avatar">
            <img ng-src="{{user.picture.public_id | formatImg:50:30}}" alt="Profile Photo" />
          </div>
          <h2 class="activity-info">
            <div class="activity-title">{{activity.title}}</div>
            <div class="activity-date">{{activity.date | date}}</div>
          </h2>
        </div>
        <div class="item item-body activity-content">
          <div class="activity-content-title" ng-if="activity.content.title">{{activity.content.title}}</div>
          <div class="activity-content-picture" ng-if="activity.content.picture">
            <img ng-src="{{activity.content.picture | formatImg:250:200}}" alt="Picture" />
          </div>
          <div class="activity-content-text" ng-if="activity.content.text">{{activity.content.text}}</div>
        </div>
      </div>
    </div>

    </ion-content>
</ion-view>
