<ion-view>
    <ion-content class="profile-edit">

    <div class="save-profile">
      <button class="button button-clear button-positive" ng-click="saveAll()">Save</button>
    </div>

    <div class="profile-photo">
        <img src="img/Avatar/CamilleAvatar.png"/>
    </div>

    <div class="username-modif">
    <div class="username">PilouMelissaCat24</div>
    </div>

    <div class="where-modif">
    <div class="where">Paris, France</div>
    <button class="icon ion-edit button-clear modif-where"></button>
    </div>

    <div class="list info-perso">
      <div class="item item-icon-left">
        <i class="icon ion-person"></i>
        <div class="name">Melissa Smith</div>
        <button class="icon ion-edit button-clear modif-name"></button>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-wand"></i>
        <div class="date-of-birth">22 Years old</div>
        <button class="icon ion-edit button-clear modif-dob"></button>
      </div>
    </div>

    <div class="description-area">
      <p class="description">I like so much cooking for all my family, my friends and even my dogs :p
        haha ndsvndqb fZBFE V Jn ef"ul8899HGBF  "AQERBNJDS V,VJFERUBT GV UIZB s<
        juzebfj tgreqvfdiohvn d ihohrnektkeghrnv io"</p>
        <button class="icon ion-edit button-clear modif-description"></button>
    </div>

    </ion-content>
</ion-view>
