<ion-view>
  <ion-content class="search-quiz">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-model="$parent.mySearchQuiz" ng-change="searchQuiz()" ng-model-options="{debounce : 500}" type="text" placeholder="Search a quiz">
      </label>
    </div>

    <div class="display-quizzes-list" ng-repeat="quiz in quizzes track by $index" ng-if="$index%3 === 0">
        <div class="row" ng-if="$index < quizzes.length">
          <div class="col col-50">
            <div class="quiz-card" ng-click="displayQuiz(quizzes[$index]._id)">
              <div class="quiz-picture">
                <img ng-if="quizzes[$index].picture" ng-src="{{quizzes[$index].picture.public_id | formatImg:200:150}}" alt="Quiz Photo" />
                <img ng-if="!quizzes[$index].picture" src="img/Cookie/Cookeasy.png" alt="Quiz Photo" />
              </div>
              <div class="quiz-name">{{quizzes[$index].title}}</div>
            </div>
          </div>
          <div class="col col-50" ng-if="$index+1 < quizzes.length">
            <div class="quiz-card" ng-click="displayQuiz(quizzes[$index+1]._id)">
              <div class="quiz-picture">
                <img ng-if="quizzes[$index+1].picture" ng-src="{{quizzes[$index+1].picture.public_id | formatImg:200:150}}" alt="Quiz Photo" />
                <img ng-if="!quizzes[$index+1].picture" src="img/Cookie/Cookeasy.png" alt="Quiz Photo" />
              </div>
              <div class="quiz-name">{{quizzes[$index+1].title}}</div>
            </div>
          </div>
        </div>

        <div class="row" ng-if="$index+2 < quizzes.length">
          <div class="col col-100">
            <div class="quiz-card" ng-click="displayQuiz(quizzes[$index+2]._id)">
              <div class="quiz-picture">
                <img ng-if="quizzes[$index+2].picture" ng-src="{{quizzes[$index+2].picture.public_id | formatImg:300:250}}" alt="Quiz Photo" />
                <img ng-if="!quizzes[$index+2].picture" src="img/Cookie/Cookeasy.png" alt="Quiz Photo" />
              </div>
              <div class="quiz-name">{{quizzes[$index+2].title}}</div>
            </div>
          </div>
        </div>
    </div>

  </ion-content>
</ion-view>
