/* ------------------ GENERAL -------------------- */
.create-quiz {
  text-align: center;
  margin-top: 50px;
}
.create-quiz h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 30px;
  margin-top: 15px;
}

/* -------------- PAGE CREATE INFO QUIZ ------------- */
.create-quiz h1.createQuiz {
  font-size: 30px;
  border-style: groove;
  border-color: black;
}
.create-quiz .quiz-name {
  vertical-align: middle;
  width: 90%;
  padding: 5px 0px;
  margin: 0px auto;
}
.create-quiz .list-inset .item.item-input input {
  padding-right: 10px;
}
.create-quiz .main-picture {

}
.create-quiz .camera {
  font-size: 70px;
}
.create-quiz .header-main-picture {

}
.create-quiz .quizPic {
  background-color: white;
  width: 95%;
  margin: 0px auto;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
}
.create-quiz .createQuestion {
  margin-top: 30px !important;
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
}

/* ------- PAGE CREATE QUESTION WITH ANSWERS ------- */
.create-quiz .question-back-button {
  position: absolute;
  top: 0px;
  left: 6%;
}
.create-quiz .button.button-assertive.button-clear.button-back-question {
  color: #B00000;
  background-color: #FFE4E1;
  border-color: #FFE4E1;
  box-shadow: 0px 0px 0px #FFE4E1;
}
.create-quiz .question-number {
  margin-bottom: 25px;
}
.create-quiz .question-delete-button {
  position: absolute;
  top: 0px;
  right: 6%;
}
.create-quiz .button.button-assertive.button-clear.button-delete-question {
  color: #B00000;
  background-color: #FFE4E1;
  border-color: #FFE4E1;
  box-shadow: 0px 0px 0px #FFE4E1;
}
.create-quiz .question-title input {
  vertical-align: middle;
  width: 95%;
  margin: 0px auto;
  padding-left: 10px;
}
/* */
.create-quiz .p {
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}
/* Text/Image Type Checkbox */
.create-quiz .item.item-radio {
  width: 95%;
  margin: 0px auto;
}
.create-quiz .item-content {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.create-quiz .item.item-radio i {
  padding: 0px 10px 0px 0px;
}
/* ---- TEXT TYPE ---- */
.create-quiz .answer-title input {
  vertical-align: middle;
  width: 95%;
  margin: 0px auto;
  padding-left: 10px;
}
/* list of answers */
.create-quiz .list {
  width: 95%;
  margin: 0px auto;
  margin-bottom: 20px;
}
.create-quiz .item {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.create-quiz .answer-name {
  display: inline-block;
  width: 88%;
}
.create-quiz .delete-answer {
  display: inline-block;
}
.create-quiz .un-correct {
  display: inline-block;
}

/* ---- IMAGE TYPE ---- */
.create-quiz .pic-text input {
  vertical-align: middle;
  width: 95%;
  margin: 0px auto;
  padding-left: 10px;
  margin-bottom: 20px;
}
.create-quiz .answer-pic {
  background-color: white;
  width: 95%;
  margin: 0px auto;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
}
/* list of answers */
.create-quiz .list {
  width: 95%;
  margin: 0px auto;
  margin-bottom: 20px;
}
.create-quiz .item {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.create-quiz .answer-text {

}
.create-quiz .item img {

}
.create-quiz .delete-answer {
  display: inline-block;
}
.create-quiz .un-correct {
  display: inline-block;
}

/* --------------BUTTONS-------------- */
/* for the "Next" button on the first page */
.create-quiz .button.button-block {
  background-color: #800000 !important;
  border-color: #800000 !important;
  vertical-align:middle;
  width: 95%;
  margin: 0px auto;
  box-shadow: 2px 2px 2px grey;
}

/* for every button on each step page */
.create-quiz .button.button-assertive {
  background-color: #800000;
  border-color: #800000;
  box-shadow: 2px 2px 2px grey;
}
.create-quiz .button.button-block.button-assertive {
  background-color: #ef473a;
  border-color: #e42012;
  box-shadow: 2px 2px 2px grey;
}

/* 2 buttons correct/uncorrect */
.create-quiz .add-answer-button {
  width: 95%;
  margin: 0px auto;
  margin-top: 20px;
}
.create-quiz .correct,
.create-quiz .uncorrect {

}

.create-quiz .end-button{
  width: 98%;
  margin: 0px auto;
}
.create-quiz .next,
.create-quiz .finish {
  width: 48%;
  font-weight: bold;
}
/*----------------------------------------------------------------*/
/*---------------------------ERRORS-------------------------------*/
.create-quiz .input-error{
  border: 1px solid red !important;
}

.create-quiz .error-message{
  text-align: left;
  color: red;
  font-style: italic;
  width: 90%;
  margin: 0px auto;
}
/*----------------------------------------------------------------*/
/* about data loading */
.spin {
  -webkit-animation: spin .2s infinite linear;
  -moz-animation: spin .2s infinite linear;
  -o-animation: spin .2s infinite linear;
  animation: spin .2s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
