/* about the entire page */
.display-recipe {
  text-align: left;
  padding-left: 5px;
  margin-top: 60px;
  font-size: 16px;
}

/* about the title of the displayed recipe */
.display-recipe h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

/* about the difficulty,stars,time,nbperson */
.display-recipe .recipe-info{
  text-align: center;
}
/* about the recipe photo */
.display-recipe .recipe-photo {
  text-align: center;
}
/* about the author and creation date of recipe */
.display-recipe .recipe-info-creation{
  text-align: center;
  font-size: 12px;
}

/* about the utensils and beaker button */
.display-recipe .utensils-beaker {

}
.display-recipe .utensils-beaker .button.button-block.icon-center.ion-beaker {
  color: black;
  background-color: #FFE4E1;
  border-color: black;
  box-shadow: 0px 0px 0px #FFE4E1;
  width: 98%;
  /*width: 100%;*/
  text-align: center;
}
.display-recipe .utensils-beaker .icon.ion-arrow-down-b,
.display-recipe .utensils-beaker .icon.ion-arrow-up-b {
  text-align: right;
  display: inline-block;
  width: 70%;
}

/* about the list of ingredients */
.display-recipe .ingredients-title {
  margin-left: 5px;
}

/* about the steps and load button */
.display-recipe .steps-load {

}
.display-recipe .steps-load .button.button-block.icon-center.ion-load-a {
  color: black;
  background-color: #FFE4E1;
  border-color: black;
  box-shadow: 0px 0px 0px #FFE4E1;
  width: 98%;
  /*width: 100%;*/
  text-align: center;
}
.display-recipe .steps-load .icon.ion-arrow-down-b,
.display-recipe .steps-load .icon.ion-arrow-up-b {
  text-align: right;
  display: inline-block;
  width: 75%;
}

/* about the "start recipe" button */
.display-recipe .button.button-block.button-assertive.start {
  background-color: #800000;
  border-color: #800000;
  box-shadow: 5px 5px 5px grey;
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  width: 98%;
}

/* about display the previous pictures of the recipe by other users */
.display-recipe .previous-recipe-pictures{
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.display-recipe .all-pictures{
  width: 100px;
  height: 80px;
  margin-right: 6px;
  border-radius: 1px;
}

/* about add a comment */
.display-recipe .comments {
  width: 100%;
  margin-top: 10px;
}

/*----------------------------------------------------------------*/
/*--------------------------SLIDE BOX-----------------------------*/
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/*----------------------------------------------------------------*/
/*--------------------DISPLAY STEP BY STEP------------------------*/
/* about the description of the step */
.display-recipe .description-step{
  margin-top: 35px;
}

.display-recipe .button-picture-button{
  display: inline-block;
  text-align: center;
  width: 100%;
}

/* about the next and back button */
.display-recipe .button-next,
.display-recipe .button-back {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  margin-top: 50px;
}
.display-recipe .button-next button,
.display-recipe .button-back button{
  border-radius: 100%;
  font-size: 1.5em;
  background-color: #800000;
  border-color: #800000;
}

/* about the picture of the step */
.display-recipe .picture-step{
  display: inline-block;
  width: 65%;
  text-align: center;
}
.display-recipe .recipe-step-picture{
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #A88;
}

/* about the timer of the step */
.display-recipe .step-timer{
  text-align: center;
}

/* end display recipe button */
.display-recipe .end {
  text-align: center;
  width: 95%;
  margin-left: 8px;
  background-color: #800000;
  border-color: #800000;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}
/*----------------------------------------------------------------*/
/*--------------------------CHRONOMETER -----------------------------*/
.display-recipe .timer{
  text-align: center;
  width: 30%;
  margin: 0px auto;
  display: inline-block;
}
.display-recipe .all-timer{
  display: inline-block;
}
.display-recipe .counter{
  border: 2px solid black;
  border-radius: 60px;
  height: 100%;
}
.display-recipe .play,
.display-recipe .pause,
.display-recipe .stop{
  background-color: #800000;
  border-color: #800000;
  border-radius: 50px;
  width: 40%;
}

/*----------------------------------------------------------------*/
/*---------------------FINAL DISPLAY PAGE-------------------------*/
.display-recipe .backOrNew{
  padding-left: 12px;
  padding-right: 12px;
}
.display-recipe .button.icon-left.ion-reply.button-assertive.button-clear.button-back {
  background-color: rgba(0,0,0,0);
  border: 0px;
  margin-top: 0px;
  width: 48%;
  text-align: left;
  color: #800000;
  display: inline-block;
}
.display-recipe .button.icon-right.ion-forward.button-assertive.button-clear.button-new {
  background-color: rgba(0,0,0,0);
  border: 0px;
  margin-top: 0px;
  width: 48%;
  text-align: right;
  color: #800000;
  display: inline-block;
}

/* about the header-final part */
.display-recipe .header-final{
  text-align: center;
}
.display-recipe .header-final h1{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 30px;
  margin-top: 25px;
}
.display-recipe .camera-final{
  font-size: 60px;
}
.display-recipe .header-final p{
  width: 80%;
  margin: 0px auto;
}

/* about the picture-final part */
.display-recipe .picture-final{
  text-align: center;
}
.display-recipe .import-final,
.display-recipe .take-final{
  text-align: center;
  width: 95%;
  margin-left: 8px;
  background-color: #800000;
  border-color: #800000;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* about the comment-final part */
.display-recipe .comment-final {
  text-align: center;
  border: 1px solid black;
  width: 98%;
  border-radius: 2px;
}
.display-recipe .textarea-comment{
  width: 95%;
  margin: 0px auto;
}
.display-recipe .textarea-comment textarea{
  resize: none;
  height: 80px;
}
.display-recipe .add-comment{
  text-align: center;
  width: 95%;
  margin-left: 8px;
  background-color: #800000;
  border-color: #800000;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* about the 5 stars rating */
.display-recipe .add-mark{

}
.display-recipe .ion-android-star{
  color: #DAA520;
  margin-right: -3px;
}
.display-recipe .ion-android-star-outline{
  opacity: 0.5;
}

/* about all previous comments for this recipe */
.display-recipe .all-comments{
  margin-left: 2px;
}
.display-recipe .comment-author{
  font-size: 20px;
}
.display-recipe .comment-mark{
  margin-left: 10px;
}
.display-recipe .comment-date{
  font-size: 13px;
  font-style: italic;
}
.display-recipe .comment-message{

}

/*----------------------------------------------------------------*/
/*---------------------------ERRORS-------------------------------*/

.display-recipe .input-error{
  border: 1px solid red !important;
}

.display-recipe .error-message{
  text-align: left;
  color: red;
  font-style: italic;
  width: 90%;
  margin: 0px auto;
}
