/* about the entire page */
.profile-edit {
  text-align: left;
  padding-left: 5px;
  margin-top: 50px;
  font-size: 16px;
}
/* about the button edit all profile */
.profile-edit .save-profile {
  text-align: right;
}
/* about the profile photo */
.profile-edit .profile-photo {
  text-align: center;
}
.profile-edit .profile-photo img {
  width: 40%;
}

/* about the profile username */
.profile-edit .username {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

/* about the row info */
.profile-edit .row {
  width: 98%;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #800000;
  background-color: #800000;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

/* about the card of personal information to modify
 and the modification of the location */
.profile-edit .list.info-perso-modif {
  margin-top: 30px;
  margin-bottom: 10px;
}
.profile-edit .item.item-icon-left {
  padding-bottom: 0px;
  padding-top: 2px;
  width: 98%;
  vertical-align: top;
  height: 55px;
}
.profile-edit .item-icon-left .icon {
  left: inherit;
}
.profile-edit .icon.ion-person,
.profile-edit .icon.ion-wand,
.profile-edit .icon.ion-location,
.profile-edit .icon.ion-key {
  max-height: 100%;
  left: 10px;
}
.profile-edit .name-modif,
.profile-edit .date-of-birth-modif,
.profile-edit .location-modif,
.profile-edit .password-modif {
  display: inline-block;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 7px;
  color: black;
}
.profile-edit .name-modif input,
.profile-edit .location-modif input,
.profile-edit .password-modif input {
  font-size: 100%;
}
.profile-edit .date-of-birth-modif input{
  padding-top: 0px;
  font-size: 100%;
}
.profile-edit .password-modif {
  -webkit-text-security: disc;
  height:20px;
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  -webkit-user-select: text;
  cursor: auto;
}
.profile-edit .description-area-modif {
  resize: none;
  width: 98%;
  padding: 10px 10px 10px 10px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
}
.profile-edit .description-area-modif textarea {
  width: 100%;
  resize: none;
  height: 80px;
  font-size: 100%;
  font
}

/*----------------------------------------------------------------*/
/*---------------------------ERRORS-------------------------------*/

.profile-edit .input-error{
  border: 1px solid red !important;
}

.profile-edit .error-message{
  text-align: left;
  color: red;
  font-style: italic;
  width: 90%;
  margin: 0px auto;
}
